<a href="https://colab.research.google.com/github/JuliRuiz11/PROGCOM-B/blob/main/Clase_2_Estructura_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Estructuras de repetición
Se emplean cuando se desea repetir una parte del codigo, dada una condición

##Listas
* Son un conjunto de objetos,
 **indexado**, separado por comas, y
 encerrado entre [].
* Todos los elementos dentro de una
lista, se empiezan a contar desde 0.
###Creación de listas
* Forma general: lista=[]
* Forma manual animales=["Gato", "perro", "zorro", "oso"]
* Por conversación número=list(range(10))
 Lista=[]

In [ ]:
lista=[]

In [ ]:
type(lista)

list

In [ ]:
zorro=(1,2,3,4)
animales=["gato","perro","zorro","oso"]
animales

['gato', 'perro', 'zorro', 'oso']

In [ ]:
type(zorro)

tuple

In [ ]:
número=list(range(10))
número

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
type(range(10))

range

In [ ]:
range(10)

range(0, 10)

#Estructura para For
Se usa cuando
* Se sabe **cuantas veces** se repite una acción.
* Esta compuesta por um contador y una condición.
* **Cotador**: Identifica cuantas veces se va a repetir el bucle y con que frecuencia.
* **Condición**: evalua cuando se detiene



```
for variable in range (vi, vf+1, paso):
  aquí se repite parte del codigo.
```
Donde
1. vi:condición inicial, donde arranco a contar
2. vf+1:condición final donde dejo de contar+1
3. paso: Frecuencia de conteo

for para recorrido de lista
flor=["amapola","rosa","tulipan", "orquidea"]
* El para va a iterar tantas veces como elementos tenga la lista
* Variable dentro del para, toma como el valor cada elemento de la lista
```
for variable in lista:
  variable
```

In [ ]:
#Creando una lista de nombre flor
flor=["amapola","rosa","tulipan", "orquidea"]
for flores in flor:
      print(flores)
      if flores=="tulipan":
        break

amapola
rosa
tulipan

In [2]:
name=[]
for nombre in range(5):
    name.append(input("ingrese su nombre "))

ingrese su nombre Juli
ingrese su nombre Juli
ingrese su nombre Mar
ingrese su nombre Mor
ingrese su nombre Jul

##Estructura While
* Se emplea cuando **NO SE SABE**
cuántas veces de debe repetir una
acción, pero si se conoce su
condición de parada (CP).
* Condición inicial: Donde
arranca el ciclo
* Condición final (parada): Que
indica dónde se detiene el ciclo
* Modificador de condición inicial

Estructura general del mientras


```
Condición inicial
while (condición:==condición final):
    
    modificador de condición inicial
```
Modificadores de una condición inicial
* Banderas: booleanos
* Son preguntas
* Son contadores o acumuladores

##Actividades For y listas

Números de 1 a 10

In [7]:
NUM=list(range(1,11))
NUM

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
for NUM in range (1,11):
  print (NUM)

1
2
3
4
5
6
7
8
9
10

In [10]:
for NUM in NUM:
 print(NUM)

1
2
3
4
5
6
7
8
9
10

##Suma de números

In [30]:
Suma=0
Num=0
for Num in range(1,101):
  print(Suma,"+",Num,"=",Num+Suma)
  Suma=Suma+Num
print("Resultado final",Suma)
print(Num)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45
45 + 10 = 55
55 + 11 = 66
66 + 12 = 78
78 + 13 = 91
91 + 14 = 105
105 + 15 = 120
120 + 16 = 136
136 + 17 = 153
153 + 18 = 171
171 + 19 = 190
190 + 20 = 210
210 + 21 = 231
231 + 22 = 253
253 + 23 = 276
276 + 24 = 300
300 + 25 = 325
325 + 26 = 351
351 + 27 = 378
378 + 28 = 406
406 + 29 = 435
435 + 30 = 465
465 + 31 = 496
496 + 32 = 528
528 + 33 = 561
561 + 34 = 595
595 + 35 = 630
630 + 36 = 666
666 + 37 = 703
703 + 38 = 741
741 + 39 = 780
780 + 40 = 820
820 + 41 = 861
861 + 42 = 903
903 + 43 = 946
946 + 44 = 990
990 + 45 = 1035
1035 + 46 = 1081
1081 + 47 = 1128
1128 + 48 = 1176
1176 + 49 = 1225
1225 + 50 = 1275
1275 + 51 = 1326
1326 + 52 = 1378
1378 + 53 = 1431
1431 + 54 = 1485
1485 + 55 = 1540
1540 + 56 = 1596
1596 + 57 = 1653
1653 + 58 = 1711
1711 + 59 = 1770
1770 + 60 = 1830
1830 + 61 = 1891
1891 + 62 = 1953
1953 + 63 = 2016
2016 + 64 = 2080
2080 + 65 = 2145
2145 + 66 = 2211
2211 + 67 = 2278
2278 + 68 = 2346
2346 + 69 = 2415
2415 + 70 = 2485
2485 + 71 = 2556
2556 + 72 = 2628
2628 + 73 = 2701
2701 + 74 = 2775
2775 + 75 = 2850
2850 + 76 = 2926
2926 + 77 = 3003
3003 + 78 = 3081
3081 + 79 = 3160
3160 + 80 = 3240
3240 + 81 = 3321
3321 + 82 = 3403
3403 + 83 = 3486
3486 + 84 = 3570
3570 + 85 = 3655
3655 + 86 = 3741
3741 + 87 = 3828
3828 + 88 = 3916
3916 + 89 = 4005
4005 + 90 = 4095
4095 + 91 = 4186
4186 + 92 = 4278
4278 + 93 = 4371
4371 + 94 = 4465
4465 + 95 = 4560
4560 + 96 = 4656
4656 + 97 = 4753
4753 + 98 = 4851
4851 + 99 = 4950
4950 + 100 = 5050
Resultado final 5050
100

In [40]:
Suma=list(range(1,101))
Suma =

TypeError: 'list' object is not callable